body {
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

.page-body {
    background-color: #F7F7F7;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3.75rem;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.header-title {
    color: white;
    display: flex;
    font-size: 1.5rem;
    padding: 1rem;
}

.header-title-link {
    text-decoration: none;
}

.header-title-link:hover {
    cursor: pointer;
}

.header-searchbar {
    width: 20%;
    height: 40%;
    margin-left: 1rem;
    border-radius: 0.5rem;
    background-color: #283139;
    border-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    color: white;
}

.header-button {
    width: 2.875rem;
    height: 2.875rem;
    background: #3b443e;
    border: 1px solid #000;
    border-radius: 50%;
    color: #ffffff ;
    margin-right: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

.side-navbar {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 12rem;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.6);;
}

#link {
    text-decoration: none;
}
.navigating-link {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 45px;
}

.navigating-link:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.page-content {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.main-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.presentation-title {
    display: flex;
    font-size: 2rem;
    padding: 1rem 1rem 2rem 1rem;
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);;
}

.first-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.compilerForm {
    width: 100%;
}

.first-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1.5rem;
}

.header-button-menu {
    position: relative;
}

.header-button-extende-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.header-button-extende-menu li {
    border-bottom: 1px solid #444;
}
  
.header-button-extende-menu li:last-child {
    border-bottom: none;
}
  
.header-button-extende-menu a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}
  
.header-button-extende-menu a:hover {
    background-color: #444;
}

.codeWritingArea {
    font-size: 1.125rem;
    resize: none;
    height: 200px;
    width: 50%;
}

.inputButton {
    border-radius: 8px;
    height: 2rem;
    width: 80px;
    background-color: black;
    color: white;
    font-size: 0.85rem;
}

.inputButton:hover {
    cursor: pointer;
}


.side-navbar-container {
    position: sticky;
    top: 0;
}