.navigation {
  position: sticky;
  top: 0;
  width: 14rem;
  overflow-y: scroll;
  border-right: 1px solid #000000;
}

/* elimina punctele de bullet și padding */
.mainmenu,
.submenu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* faceți ca TOATE link-urile (principale și submeniu) să aibă padding și culoare de fundal */
.mainmenu a {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-size: 0.975rem;
  text-decoration: none;
  padding: 10px;
  height: 30px;
  color: #000;
}

.mainmenu a:hover {
  background-color: #c5c5c5;
}

.mainmenu li:hover .submenu,
.mainmenu li > a.active-item + .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: #dbdbdb;
  padding-left: 1.25rem;
  font-size: 0.925rem;
}

.submenu a:hover {
  background-color: #c3c1c1;
}

.submenu {
  display: flex;
  height: 100%;
  gap: 0.875rem;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.active-item {
  background-color: #c5c5c5 !important;
}