#title {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/monitoralfa.png',sizingMethod='crop');}
#title img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }

#utile {filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/Pics/lift.png',sizingMethod='image');}
#utile img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }